@font-face {
  font-family: "iconfont"; /* Project id 4561678 */
  src: url('iconfont.woff2?t=1716649694588') format('woff2'),
       url('iconfont.woff?t=1716649694588') format('woff'),
       url('iconfont.ttf?t=1716649694588') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-fabulous:before {
  content: "\e66f";
}

.icon-home:before {
  content: "\e674";
}

.icon-more:before {
  content: "\e679";
}

.icon-user:before {
  content: "\e682";
}

